<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Currency</title>
        <?php echo $this->headScript()->appendFile('/js/index.js') ?>
        <?php echo $this->headScript()->appendFile('/js/jquery.min.js') ?>
        <?php echo $this->headLink()->appendStylesheet('/css/index.css') ?>
    </head>
    <body>
        <div id="header" style="background-color: #EEEEEE; height: 30px;">
            <div id="header-logo" style="float: left">
                <b>ZF Application</b>
            </div>
        </div>
        <?php echo $this->layout()->content ?>
    </body>
</html>