<div id="welcome">
    <h1>Currencies!</h1>
    <div id="more-information">
        <p>
            <?php echo $this->form; ?>
        </p>
        <span class="rate"></span>
    </div>
</div>
<script type="text/javascript">
    ControllerIndex.init();
</script>